.page-header {

}

.page-header__logo {
  padding-top: 22px;
  padding-bottom: 22px;
  height: 35px;
  text-align: center;
  border-bottom: 1px solid #ececec;

  img {
    display: inline-block;
  }
}

.page-header__delivery {
  display: none;
}

.page-header__title-wrapper {
  padding-top: 75px;
  min-height: 205px;
  background-color: $bg-color;
  background-image: url("/img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-header__title {
  margin: 0 auto;
  display: block;
  max-width: 260px;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
